# Python
__pycache__/
*.py[cod]
*.sqlite3
*.db

# Environnement virtuel
.venv/
.env
# OS
.DS_Store

# Logs
*.log

# Temp
tmp/

# Local databases
recipes.db
.recipes.db
*.db-wal
*.db-shm

# Generated images
static/images/
